html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 3.2rem;
  height: 100%;
}
.size-cart {
  font-size: larger;
  color: #fff;
}
.size-cart:hover {
  color: #7e858d;
  background: transparent;
}
header {
  padding-left: 22px;
  padding-right: 22px;
  grid-area: header;
  background-color: #000;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
}
/* Common */
h1 {
  font-size: 3.2rem;
  padding: 1rem 0;
  text-align: center;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
} 
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  /* border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid; */
  border-style: none;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #e2e2e2;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover, {
  /* border: 0.1rem #404040 solid; */
}
button.primary {
  background-color: #c53535;
  color: #ffffff;
  font-weight: bold;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #db2b2b;
  font-size: 2.4rem;
  vertical-align: middle;
  font-weight: bold;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
  /* Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
}
a.icon {
  width: 2.5rem;
  align-items: center;
}
.badge {
  background-color: #bb2c2c;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
.py-1 {
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}
.border {
  border: 1px solid #e1e4e8 !important;
  /* background-color: #24292e; */
}
.border:hover {
  border: 1px solid #7e858d !important;
  background: transparent;
}
.rounded-1 {
  border-radius: 4px!important;
}
.rounded-2 {
  border-radius: 6px!important;
}
.rounded-3 {
  border-radius: 10px!important;
}
.Header-item {
  margin-right: 16px;
  align-self: stretch;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 2.5rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #fff;
  cursor: pointer;
}
/* button.open-sidebar:hover {
  border-color: #444d56;
  color: #444d56;
} */
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: bottom;
}
img.logo {
  max-width: 3rem;
  width: 100%;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  font-weight: bold;
}
.form-fill {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(225,228,232,0.2);
}
.auth-form-body {
  padding: 20px;
  font-size: 14px;
  background-color: #eff3f8;
  border: 1px solid #d8dee2;
  border-radius: 0 0 6px 6px;
}
.mt-3 {
  margin-top: 16px!important;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  /* border-right: none; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.active {
  font-weight: bold;
}
.mb-n1 {
  margin-bottom: -4px!important;
}
.mt-n1 {
  margin-top: -4px!important;
}
.form-control, .form-select {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d8dee2;
  border-radius: 6px;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(225,228,232,0.2);
}
.input-sm {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;
  line-height: 20px;
}
.header-search-wrapper {
  display: table;
  width: 50rem;
  max-width: 100%;
  padding: 0;
  font-size: inherit;
  font-weight: 400;
  color: #fff;
  vertical-align: middle;
  background-color: #24292e;
  border: 1px solid #444d56;
  box-shadow: none;
}
.p-0 {
  padding: 0!important;
}
.flex-justify-between {
  justify-content: space-between!important;
}
.flex-items-center {
  align-items: center!important;
}
.d-flex {
  display: flex!important;
}
.position-relative {
  position: relative!important;
}
.input-sm {
  min-height: 28px;
}
.header-search-input {
  display: table-cell;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: 0;
  box-shadow: none;
}
input::placeholder {
  white-space: pre;
  word-wrap: normal;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: initial;
}
.login-callout {
  padding: 15px 20px;
  text-align: center;
  border: 1px solid #d8dee2;
  border-radius: 5px;
}
.auth-form {
  width: 400px;
  margin: 0 auto;
}
.px-3 {
  padding-right: 16px!important;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}
